@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap"); /*шрифт от гугла*/

body {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400; /*толщина шрифта*/
  font-style: normal;
  background-color: whitesmoke; /*цвет всего экрана, он же кодом #f2f2f2 */
}

h1 {
  text-align: center;
}

form {
  width: 80%;
  margin: 0 auto; /*если у отступов настраивается 2 значения, то первое идет по вертикали, а второе по горизонтали; в консоли программиста в браузере, выделена граница оранжевым*/
  max-width: 400px;
  padding: 20px; /*отступы со всех 4х сторон одинаковые, в консоли программиста в браузере, выделена граница зеленым*/
  border: 1px solid #ccc; /*рамка во круг формы form, первый параметр - толщина, второй - цвет (solid)*/
  border-radius: 5px; /*закругление рамки*/

  /*настройка тени; 
    первое значение - как тень идет по оси Х (вертикали), положительное значение - тень падает вправо, отрицательное - влево;
    второе значение по оси У (горизонтали), положительное значение - тень падает вниз, отрицательное - вверх;
    третье значение - размытие;
    четвертое - цвет;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

/*настройки видимости для всех input*/
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%; /*ширина 100% относительно form*/
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px, 0 5px, 5px; /*можно установить размеры для всех границ, двигаясь сверху по часовой стрелки*/
}

button{
    cursor: pointer;/*сделает из курсора мышки - пальчик*/
    border: none; /*отключаем видимость границы кнопок, которые делаются по умолчанию, когда кнопку подключаешь*/
    padding: 10px 20px 10px 20px; /*а можно было написать 10px 20px, так как значение по вертикали и горизонтали одинаковые, это более корректное написание для одинаковых отступов*/
    margin: 10px 5 px;
    border-radius: 5px;
}

/*чтобы вызвать классы нужно нажать точку, тогда прога увидит все классы*/
.reset{
    background-color: #f44336;
}
.submit{
    background-color: #4caf50;
}
