.grid-products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px; /*отодвинули карточки друг от друга*/
}

.product-card{
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px 30px;  /*отодвинули контент внутри каждой карточки*/
}

.img-wrapper {
    /* жестко задаем значение для контейнера по вертикали */
    width: 80%;
    height: 200px;
}
.img-wrapper > img{
    width: 100%;
    height: 100%;
    /*задаем contain, чтобы уместить картинку в контейнере */
    object-fit: contain;
}

